doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                    a.active(href="/") Shop
                ul.main-header__item-list
                    li.main-header__item
                    a(href="/admin/add-product") Add Product
        main
            if products.length > 0
                .grid
                    each product in products
                        article.card.product-item
                            header.card__header
                                h1.product__title #{products.title}
                            div.card__image
                                img(src="https://cdn.pixabay.com/photo/2016/03/09/15/29/books-1246674_960_720.jpg", alt="book")
                            div.card__content
                                h2.product__price $19.9
                                p.product__description text here
                            .card__action
                                button.btn Add to Cart
            else
                h1 No Products